RUN{builtin}+="uaccess"
LABEL="some label"
GOTO="end"
IMPORT{program}="v4l_id $devnode"
OPTIONS="some options"
OWNER="owner"
GROUP="group"
MODE="mode"
WAIT_FOR="queue/read_q"
ACTION=="this action"
NAME=="another_disk"
SYMLINK+="v4l/by-id/$env{ID_BUS}-$env{ID_SERIAL}-video-index$attr{index}"
TEST{key}=="value
PROGRAM=="some program"
RESULT=="some result"
KERNELS=="gadget"
KERNEL=="video[0-9]", SUBSYSTEMS=="usb"
DRIVERS!="something", IMPORT{builtin}="usb_id"
ATTRS{idVendor}=="0c45"
TAGS=="tags"
CONST{key}=="value"
SECLABEL{key}=="value
SYSCTL{key}=="value"
ATTRS{idVendor}=="09bb", ATTR{idProduct}=="1900", ENV{ID_MM_ERICSSON_MBM}=="1"
ATTR{idVendor}=="0bdd", ATTRS{idProduct}=="1902", ENV{a name}=="Keyboard that has a mouse"
TAG-="uaccess"
TAG+="uaccess"
TAG="uaccess"
TAG:="uaccess"