1 SUBSYSTEM=="video4linux", GROUP="video"
0 IMPORT{program}="v4l_id $devnode"
0 SUBSYSTEMS=="usb", IMPORT{builtin}="usb_id"
2 KERNEL=="video*", ENV{ID_SERIAL}=="?*", SYMLINK+="v4l/by-id/$env{ID_BUS}-$env{ID_SERIAL}-video-index$attr{index}"
0 IMPORT{builtin}="path_id"
2 ENV{ID_PATH}=="?*", KERNEL=="video*|vbi*", SYMLINK+="v4l/by-path/$env{ID_PATH}-video-index$attr{index}"
2 TAG=="uaccess",ENV{MAJOR}!="", RUN{builtin}+="uaccess"
1 KERNEL=="video[0-9]", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c45", SYMLINK+="video-webcam1"
2 ATTRS{idVendor}=="09bb", ATTR{idProduct}=="1900", ENV{ID_MM_ERICSSON_MBM}=="1"
2 ATTR{idVendor}=="0bdd", ATTRS{idProduct}=="1902", ENV{a name}=="Keyboard that has a mouse"
2 KERNEL=="video[0-9]*", ENV{ID_V4L_CAPABILITIES}==":capture:"
