RUN{builtin}+="uaccess"
LABEL="some label"
GOTO="end"
IMPORT{program}="v4l_id $devnode"
OPTIONS="some options"
OWNER="owner"
GROUP="group"
MODE="mode"
WAIT_FOR="queue/read_q"
ACTION=="this action"
NAME=="another_disk"
SYMLINK+="v4l/by-id/$env{ID_BUS}-$env{ID_SERIAL}-video-index$attr{index}"
TEST{key}=="value
PROGRAM=="some program"
RESULT=="some result"
CONST{key}=="value"
SECLABEL{key}=="value
SYSCTL{key}=="value"
TAG-="uaccess"
TAG+="uaccess"
TAG="uaccess"
TAG:="uaccess"