
# Ignore everything
**

# ONVIF broker is built using a `docker build` command, so
# the source code needs to be available to the DotNet container
# build
!samples/brokers/onvif-video-broker

# The streaming app is built using a `docker build` command, so
# the source code needs to be available to the container
# build
!samples/apps/video-streaming-app

# The Rust binaries are not built with a `docker build`
# command (they are built using Cargo Cross, which I think
# uses a docker run).  Because of this, the Rust src and 
# Cargo.toml files can be ignored by docker.


# Cross-build binaries need to be available
#    It is not clear to me why !target/*/*/controller
#    does not work here, but it doesn't seem to.  So
#    for now, explicitly specifying each cross-build
#    target and configuration path.
!target/x86_64-unknown-linux-gnu/debug/controller
!target/x86_64-unknown-linux-gnu/release/controller
!target/x86_64-unknown-linux-gnu/debug/agent
!target/x86_64-unknown-linux-gnu/release/agent
!target/x86_64-unknown-linux-gnu/debug/udev-video-broker
!target/x86_64-unknown-linux-gnu/release/udev-video-broker
!target/aarch64-unknown-linux-gnu/debug/controller
!target/aarch64-unknown-linux-gnu/release/controller
!target/aarch64-unknown-linux-gnu/debug/agent
!target/aarch64-unknown-linux-gnu/release/agent
!target/aarch64-unknown-linux-gnu/debug/udev-video-broker
!target/aarch64-unknown-linux-gnu/release/udev-video-broker
!target/arm-unknown-linux-gnueabihf/debug/controller
!target/arm-unknown-linux-gnueabihf/release/controller
!target/arm-unknown-linux-gnueabihf/debug/agent
!target/arm-unknown-linux-gnueabihf/release/agent
!target/arm-unknown-linux-gnueabihf/debug/udev-video-broker
!target/arm-unknown-linux-gnueabihf/release/udev-video-broker

# Cross toml file needs to be available for making the cross build containers
!Cross.toml

# Container image license to be copied into every container
!build/container-images-legal-notice.md

# Allow nessie to build using docker build
!shared
!samples/brokers/nessie