[package]
name = "webhook-configuration"
version = "0.3.1"
authors = ["DazWilkin <daz.wilkin@gmail.com>"]
edition = "2018"

[dependencies]
actix = "0.10.0"
actix-web = { version = "3.3.2", features = ["openssl"] }
actix-rt = "1.1.1"
akri-shared = { path = "../../../shared" }
clap = "3.0.0-beta.2"
k8s-openapi = { version = "0.6.0", features = ["v1_16"] }
kube = { version = "0.23.0", features = ["openapi"] }
openapi = { git = "https://github.com/DazWilkin/openapi-admission-v1", tag = "v1.1.0" }
openssl = "0.10"
rustls = "0.18.0"
serde = { version = "1.0.118", features = ["derive"] }
serde_json = "1.0.61"
