[package]
name = "akri-shared"
version = "0.8.20"
authors = ["<bfjelds@microsoft.com>"]
edition = "2018"
rust-version = "1.61.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.0"
either = '*'
anyhow = "1.0.38"
futures = "0.3.1"
futures-util = "0.3"
env_logger = "0.9.0"
hyper = { version = "0.14.2", package = "hyper" }
kube = { version = "0.69.1",  features = ["derive"] }
kube-runtime = "0.69.1"
k8s-openapi = { version = "0.14.0", default-features = false, features = ["schemars", "v1_23"] }
log = "0.4"
mockall = "0.10.2"
prometheus = { version = "0.11.0", features = ["process"] }
rand = "0.8.3"
schemars = "0.8.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
tokio = { version = "1.0.1", features = ["full"] }
tonic = "0.5.2"
tower = "0.4.8"
warp = "0.3.1"
