[package]
name = "akri-shared"
version = "0.3.1"
authors = ["<bfjelds@microsoft.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.0"
either = '*'
anyhow = "1.0.38"
futures = "0.3.1"
futures-old = { version = "0.1", package = "futures" }
futures-util = "0.3"
env_logger = "0.6.1"
kube = { version = "0.23.0", features = ["openapi"] }
k8s-openapi = { version = "0.6.0", features = ["v1_16"] }
log = "0.4"
mockall = "0.9.0"
prometheus = { version = "0.11.0", features = ["process"] }
rand = "0.7"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_yaml = "0.8"
tokio = { version = "0.2", features = ["full"] }
tokio-core = "0.1"
tokio-signal = "0.2"
tonic = "0.1"
tower = "0.3" 
warp = "0.2"
