[package]
name = "controller"
version = "0.8.20"
authors = ["<bfjelds@microsoft.com>", "<kagold@microsoft.com>"]
edition = "2018"
rust-version = "1.61.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
akri-shared = { path = "../shared" }
async-std = "1.5.0"
async-trait = "0.1.0"
chrono = "0.4.10"
env_logger = "0.9.0"
futures = "0.3.1"
anyhow = "1.0.38"
kube = { version = "0.69.1",  features = ["derive"] }
kube-runtime = "0.69.1"
k8s-openapi = { version = "0.14.0", default-features = false, features = ["schemars", "v1_23"] }
lazy_static = "1.4"
log = "0.4"
prometheus = { version = "0.12.0", features = ["process"] }
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.45"
serde_yaml = "0.8.11"
tokio = { version = "1.0.2", features = ["full"] }

[dev-dependencies]
mockall = "0.10.2"
