[package]
name = "controller"
version = "0.3.1"
authors = ["<bfjelds@microsoft.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
akri-shared = { path = "../shared" }
async-std = "1.5.0"
async-trait = "0.1.0"
chrono = "0.4.10"
env_logger = "0.6.1"
futures = "0.3.1"
anyhow = "1.0.38"
kube = { version = "0.23.0", features = ["openapi"] }
k8s-openapi = { version = "0.6.0", features = ["v1_16"] }
lazy_static = "1.4"
log = "0.4"
prometheus = { version = "0.11.0", features = ["process"] }
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.45"
serde_yaml = "0.8.11"
tokio = { version = "0.2", features = ["full"] }

[dev-dependencies]
mockall = "0.9.0"