name: Check Rust

on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/check-rust.yml
    - '**.rs'
    - '**/Cargo.toml'
    - '**/Cargo.lock'
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/check-rust.yml
    - '**.rs'
    - '**/Cargo.toml'
    - '**/Cargo.lock'
  pull_request_target:
    branches: [ main ]
    paths:
    - .github/workflows/check-rust.yml
    - '**.rs'
    - '**/Cargo.toml'
    - '**/Cargo.lock'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    # Run workflow pull_request if it is NOT a fork, as pull_request_target if it IS a fork
    if: >-
      ( github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork == true ) ||
      ( github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false ) ||
      ( !(startsWith(github.event_name, 'pull_request')) )

    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
    - name: Checkout the merged commit from PR and base branch
      uses: actions/checkout@v2
      if: github.event_name == 'pull_request_target'
      with:
        # pull_request_target is run in the context of the base repository
        # of the pull request, so the default ref is master branch and
        # ref should be manually set to the head of the PR
        ref: refs/pull/${{ github.event.pull_request.number }}/head
        persist-credentials: false

    - name: Checkout the head commit of the branch
      if: ${{ github.event_name != 'pull_request_target' }}
      uses: actions/checkout@v2
      with:
        persist-credentials: false

    - name: Rust install
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.41.0
        override: true
        components: clippy, rustfmt
    - name: Install Linux requirements
      run: |
        apt_dependencies="git curl libssl-dev pkg-config libudev-dev libv4l-dev"
        echo "Install dependencies: $apt_dependencies"
        echo "Run apt update and apt install without sudo"
        sudo apt update
        sudo apt install -y $apt_dependencies
    - name: Check rust format
      run: cargo fmt --all -- --check
    - name: Check clippy
      run: cargo clippy --all
    - name: Run check
      run:  cargo check
    - name: Check for H2 patch not being applied
      run: |
        cargo check >& h2-check.txt
        cat h2-check.txt | grep "h2" | grep "was not used in the crate graph" | wc -l | grep 0
    - name: Run tests
      run: cargo test
    - name: Run tests --ignored
      run: cargo test -- --ignored
    - name: Run doc
      run: cargo doc --no-deps
