name: Test K3s, Kubernetes, and MicroK8s

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths:
    - test/run-end-to-end.py
    - test/run-conservation-of-broker-pod.py
    - test/run-helm-install-delete.py
    - test/shared_test_code.py
    - .github/workflows/run-test-cases.yml
  pull_request_target:
    branches: [ main ]
    paths:
    - test/run-end-to-end.py
    - test/run-conservation-of-broker-pod.py
    - test/run-helm-install-delete.py
    - test/shared_test_code.py
    - .github/workflows/run-test-cases.yml
  push:
    branches: [ main ]
    paths:
    - test/run-end-to-end.py
    - test/run-conservation-of-broker-pod.py
    - test/run-helm-install-delete.py
    - test/shared_test_code.py
    - .github/workflows/run-test-cases.yml
    - version.txt
  release:
    types:
      - published
    
jobs:
  test-cases:
    # Run workflow pull_request if it is NOT a fork, as pull_request_target if it IS a fork
    if: >-
      ( github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.fork == true ) ||
      ( github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false ) ||
      ( !(startsWith(github.event_name, 'pull_request')) )
    runs-on: ubuntu-18.04
    timeout-minutes: 35

    strategy:
      fail-fast: false
      matrix:
        kube-runtime:
          - K3s
          - MicroK8s
          - Kubernetes
        test-case:
          - end-to-end
          - helm-install-delete
          - conservation-of-broker-pods
        include:
          - test-case: end-to-end
            test-file: test/run-end-to-end.py
          - test-case: helm-install-delete
            test-file: test/run-helm-install-delete.py
          - test-case: conservation-of-broker-pods
            test-file: test/run-conservation-of-broker-pod.py

    steps:
    - name: Checkout the merged commit from PR and base branch
      uses: actions/checkout@v2
      if: github.event_name == 'pull_request_target'
      with:
        # pull_request_target is run in the context of the base repository
        # of the pull request, so the default ref is master branch and
        # ref should be manually set to the head of the PR
        ref: refs/pull/${{ github.event.pull_request.number }}/head

    - name: Checkout the head commit of the branch
      if: ${{ github.event_name != 'pull_request_target' }}
      uses: actions/checkout@v2

    - name: Log into dockerhub to avoid throttled anonymous dockerhub pulls
      run: echo "${{ secrets.DHPASSWORD }}" | docker login --username "${{ secrets.DHUSERNAME }}" --password-stdin
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
       python-version: 3.8 
    - name: Install Python kubernetes dependency
      run: |
        python -m pip install --upgrade pip
        pip install kubernetes
    
    - if: matrix.kube-runtime == 'K3s'
      name: Install K3s
      run: |
        sudo curl -sfL https://get.k3s.io | sh -
        sudo addgroup k3s-admin
        sudo adduser $USER k3s-admin
        sudo usermod -a -G k3s-admin $USER
        sudo chgrp k3s-admin /etc/rancher/k3s/k3s.yaml
        sudo chmod g+r /etc/rancher/k3s/k3s.yaml
        sudo chmod 666 /etc/rancher/k3s/* 
        mkdir -p ~/.kube/ && cp /etc/rancher/k3s/k3s.yaml ~/.kube/config
        echo '--set agent.host.crictl=/usr/local/bin/crictl --set agent.host.dockerShimSock=/run/k3s/containerd/containerd.sock' > /tmp/cri_args_to_test.txt
        echo 'kubectl' > /tmp/runtime_cmd_to_test.txt
        echo '~/.kube/config' > /tmp/kubeconfig_path_to_test.txt
        until kubectl get node ${HOSTNAME,,} -o jsonpath='{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status}' | grep 'Ready=True'; do echo "waiting for k3s to become ready"; sleep 10; done

    - if: matrix.kube-runtime == 'Kubernetes'
      name: Install Kubernetes
      run: |
        sudo apt-get update -y
        sudo apt-get install -y kubelet kubeadm kubectl kubernetes-cni
        sudo swapoff -a              
        sudo kubeadm init
        sudo mkdir -p $HOME/.kube
        sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
        sudo chown $(id -u):$(id -g) $HOME/.kube/config
        kubectl taint nodes --all node-role.kubernetes.io/master-
        echo '--set agent.host.crictl=/usr/bin/crictl --set agent.host.dockerShimSock=/var/run/dockershim.sock' > /tmp/cri_args_to_test.txt
        echo 'kubectl' > /tmp/runtime_cmd_to_test.txt
        echo '~/.kube/config' > /tmp/kubeconfig_path_to_test.txt
        until kubectl get node ${HOSTNAME,,} -o jsonpath='{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status}' | grep 'Ready=True'; do echo "waiting for kubernetes to become ready"; sleep 10; done

    - if: matrix.kube-runtime == 'MicroK8s'
      name: Install MicroK8s
      run: |
        sudo snap install microk8s --classic --channel=1.18/stable
        sudo microk8s status --wait-ready
        sudo usermod -a -G microk8s $USER
        sudo ls -la $HOME/.kube
        echo sudo chown $(id -u):$(id -g) $HOME/.kube
        sudo chown -f -R $USER $HOME/.kube --verbose
        sudo sh -c "microk8s.kubectl config view --raw >~/.kube/config"
        sudo cat ~/.kube/config
        sudo microk8s.enable helm3
        sudo microk8s.enable rbac
        sudo microk8s.enable dns
        echo "--allow-privileged=true" | sudo tee -a /var/snap/microk8s/current/args/kube-apiserver
        sudo microk8s.stop
        sudo microk8s.start
        sudo microk8s.status --wait-ready
        VERSION="v1.17.0"
        curl -L https://github.com/kubernetes-sigs/cri-tools/releases/download/$VERSION/crictl-${VERSION}-linux-amd64.tar.gz --output crictl-${VERSION}-linux-amd64.tar.gz
        sudo tar zxvf crictl-$VERSION-linux-amd64.tar.gz -C /usr/local/bin
        rm -f crictl-$VERSION-linux-amd64.tar.gz
        echo '--set agent.host.crictl=/usr/local/bin/crictl --set agent.host.dockerShimSock=/var/snap/microk8s/common/run/containerd.sock' > /tmp/cri_args_to_test.txt
        echo 'microk8s kubectl' > /tmp/runtime_cmd_to_test.txt
        echo '~/.kube/config' > /tmp/kubeconfig_path_to_test.txt

    - name: Add Akri Helm Chart
      run: helm repo add akri-helm-charts https://deislabs.github.io/akri/
    
    # When event_name==release, the Helm chart is named 'akri'
    - if: github.event_name == 'release'
      name: Pull akri helm chart when event_name == release
      run: echo akri > /tmp/chart_name.txt
    # When event_name!=release, the Helm chart is named 'akri-dev'
    - if: github.event_name != 'release'
      name: Pull akri-dev helm chart when event_name != release
      run: echo akri-dev > /tmp/chart_name.txt

    # For push and release, we need to wait for the Helm chart and
    # associated containers to build.
    - if: github.event_name == 'push' || github.event_name == 'release'
      name: Set sleep duration before running script to 1500
      run: echo 1500 > /tmp/sleep_duration.txt

    # For pull_request and pull_request_target, only main's version.txt
    # has a Helm chart (the version in the PR does not).  Use origin/main.
    - if: startsWith(github.event_name, 'pull_request')
      name: Use main version for non-push
      run: |
        git fetch origin main
        git show origin/main:version.txt > /tmp/version_to_test.txt
    # For non-PR (i.e. push, release, manual), version.txt is corresponds
    # to an existing Helm chart.
    - if: (!(startsWith(github.event_name, 'pull_request')))
      name: Use current version for push
      run: cat version.txt > /tmp/version_to_test.txt

    - name: Execute test script ${{ matrix.test-file }}
      run: python ${{ matrix.test-file }}
    - name: Upload Agent log as artifact
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.kube-runtime }}-${{ matrix.test-case }}-agent-log
        path: /tmp/agent_log.txt
    - name: Upload controller log as artifact
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.kube-runtime }}-${{ matrix.test-case }}-controller-log
        path: /tmp/controller_log.txt
